<link rel="stylesheet" type="text/css" href="/user/css/user-profile.css">

<div style="margin-top:5rem;">

    <div class="container mt-5">
        <div class="main-body mt-5">

            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/profile">User Profile</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Password</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->

            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                    class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4>{{user.username}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <form id="changePasswrd" method="post" name="form1">
                                <div class="row">
                                    <div class="col-sm-3"></div>
                                    <div id="oldPassword-Err" class="text-danger col-sm-9 "></div>
                                </div>

                                <div class="row mt-4">

                                    <div class="col-sm-3">
                                        <h6 class="mt-2">Current Password</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <div id="oldPassword-Err" class="text-danger"></div>
                                        <input class="form-control" id="oldPassword" name="password" type="password"
                                            autofocus required>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mt-2">New Password</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input class="form-control" id="newPassword" name="newPassword" type="password"
                                            required>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mt-2">Confirm Password</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input class="form-control" id="confirmPassword" name="confirmPassword"
                                            type="password" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" id="id" name="_id" type="tel" value="{{user._id}}"
                                        hidden>
                                </div>
                                <hr>

                                <div class="row mb-3">
                                    <div class="col-sm-12">
                                        <button class="btn btn-primary" type="submit">Save changes</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>





                </div>
            </div>

        </div>
    </div>
</div>


<script>


    $("#changePasswrd").submit((e) => {
        e.preventDefault();
        var newPassword = document.getElementById("newPassword").value;
        var confirmPassword = document.getElementById("confirmPassword").value;
        if (newPassword == confirmPassword) {

        }
        else {
            alert("password must be same!");
            document.form1.newPassword.focus();
            return false;
        }
        $.ajax({
            url: '/password',
            type: 'post',
            data: $('#changePasswrd').serialize(),
            success: (response) => {
                if (response.status) {
                    swal({
                        title: "Password suucessfully changed",
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Go to Loginpage"
                    },
                        function (isConfirm) {
                            if (isConfirm) {
                                location.href = "/login";        // submitting the form when user press yes
                            }
                        });
                } else {
                    $('#oldPassword').css('border-color', 'red')
                    $('#oldPassword-Err').text(response.msg)
                }
            }
        })
    })

</script>