<section class="vh-309" style="background-color: #a1c4fd;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <form class="mx-1 mx-md-4" id="Signup" method="post" name="form1">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" name="username" id="form3Example1c" class="form-control" autofocus required />
                      <label class="form-label" for="form3Example1c">Your Name</label>
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" name="MobileNumber" id="form3Example2c" class="form-control"
                        pattern="[1-9]{1}[0-9]{9}" title="first : [ 1- 9 ] and only 10 digit" required />
                      <label class="form-label" for="form3Example1c">Mobile Number</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" id="form3Example3c" class="form-control" name="Email"
                        pattern="[^@\s]+@[^@\s]+\.[^@\s]+" title="Invalid email address" required />
                      <label class="form-label" for="form3Example3c">Your Email</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="Password" class="form-control" name="password" required />
                      <label class="form-label" for="form3Example4c">Password</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="RPassword" class="form-control" name="Rpassword" required />
                      <label class="form-label" for="form3Example4cd">Repeat your password</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="referral" class="form-control" name="referralCode" />
                      <label class="form-label" for="form3Example4cd">Referral Code</label>
                    </div>
                  </div>

                  {{!-- <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                    <label class="form-check-label" for="form2Example3">
                      I agree all statements in <a href="#!">Terms of service</a>
                    </label>
                  </div> --}}
                  <div class="d-flex justify-content-center mt-4 mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">Register</button>
                  </div>

                  <p class="text-muted ms-3 mt-5 mb-0">Have already an account? <a href="/login"
                      class="fw-bold text-body"><u>Login here</u></a></p>



                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>


  $("#Signup").submit((e) => {
    e.preventDefault();
    var firstpassword = document.getElementById("Password").value;
    var secondpassword = document.getElementById("RPassword").value;
    if (firstpassword == secondpassword) {

    }
    else {
      alert("password must be same!");
      document.form1.password.focus();
      return false;
    }
    $.ajax({
      url: '/signup',
      type: 'post',
      data: $('#Signup').serialize(),
      success: (response) => {
        if (response.status) {
          swal({
            title: "Signup suucessfully",
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Go to Loginpage"
          },
            function (isConfirm) {
              if (isConfirm) {
                location.href = "/login";        // submitting the form when user press yes
              }
            });
        } else {
          swal({
            title: "Email id already taken",
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "OK"
          },
            function (isConfirm) {
              if (isConfirm) {
                location.href = "/signup";      // submitting the form when user press yes
              }
            });
        }
      }
    })
  })

</script>